html {
  font-family: "Times New Roman", Times, serif;
  color: #050505;
  letter-spacing: 0.05em;
  line-height: 2;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #050505;
}

.inner {
  width: 89.0625%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.becoffee a:hover {
  color: #0040BF;
  transition: 0.3s;
}
.becoffee *::-moz-selection {
  background-color: #0040BF;
  color: #fff;
}
.becoffee *::selection {
  background-color: #0040BF;
  color: #fff;
}
.becoffee .shutter {
  background-color: #01359B;
}

.blog a:hover {
  color: #F78799;
  transition: 0.3s;
}
.blog *::-moz-selection {
  background-color: #F78799;
  color: #fff;
}
.blog *::selection {
  background-color: #F78799;
  color: #fff;
}
.blog .shutter {
  background-color: #F78799;
}
.blog .contents .design-modal-open {
  background-color: #F78799;
  border: solid 1px;
}
.blog .contents .design-modal-open:hover {
  color: #F78799;
  background-color: #fff;
}
.blog .go-top-btn {
  background-color: #F78799;
  color: #fff;
}
.blog .go-top-btn:hover {
  color: #fff;
  opacity: 0.7;
}

.header {
  height: 100vh;
  margin-top: 3.125em;
}
.header__ttl {
  font-size: 2rem;
  font-weight: normal;
}
.header__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__mv {
  margin-top: 30vh;
  font-size: 5rem;
  text-align: center;
}
.header__mv:after {
  content: "Sakurai Rikushi";
  display: block;
  font-size: 1.875rem;
}

.scroll {
  position: absolute;
  right: 50%;
  bottom: 50px;
}
.scroll__bar {
  width: 2px;
  height: 150px;
  background-color: #000;
}
.scroll__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  transform: translate(-3.5px, -150px);
  -webkit-animation: scrollDown 1.5s ease-in 1s infinite;
          animation: scrollDown 1.5s ease-in 1s infinite;
}

@-webkit-keyframes scrollDown {
  0% {
    transform: translate(-3.5px, -150px);
  }
  70% {
    transform: translate(-3.5px, 0);
  }
  100% {
    transform: translate(-3.5px, 0);
  }
}

@keyframes scrollDown {
  0% {
    transform: translate(-3.5px, -150px);
  }
  70% {
    transform: translate(-3.5px, 0);
  }
  100% {
    transform: translate(-3.5px, 0);
  }
}
.shutter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 3.125rem;
  z-index: 99999;
  -webkit-animation: Shutter 1.7s forwards;
          animation: Shutter 1.7s forwards;
}

@-webkit-keyframes Shutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes Shutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.about-header {
  margin: 3.125em 0 12.5em;
}

.works-header {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 9999;
}

.works-contents {
  margin-top: 12.5em;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.nav__item {
  margin-left: 3.125em;
}
.nav__link {
  font-size: 1.25rem;
}
.nav__link:hover {
  color: #0040BF;
  transform: 0.3s;
}

.ttl {
  margin: 4.375em 0 3.125em;
  font-size: 2.25rem;
  color: #01359B;
  position: relative;
}
.ttl::before {
  content: "About";
  display: block;
  font-size: 6.25rem;
  font-weight: normal;
  color: #01359B;
  opacity: 0.1;
  position: absolute;
  top: -160%;
  left: -3%;
}

.about__name {
  margin-bottom: 4.375em;
}
.about__name dt {
  font-size: 2rem;
}
.about__name dl {
  font-size: 1rem;
}
.about__affiliation {
  margin-bottom: 4.375em;
}
.about__hobby {
  margin-bottom: 2.1875em;
}
.about__affiliation, .about__hobby {
  font-size: 1.125rem;
}
.about__more {
  display: inline-block;
  padding: 0.9375em 1.875em;
  background-color: #0040BF;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s;
  position: relative;
}
.about__more:hover {
  border: solid 1px #0040BF;
  background-color: #fff;
  color: #0040BF;
}
.about__contents {
  width: 39.5614035088%;
}
.about__pic {
  width: 37.9824561404%;
  box-shadow: 10px 10px 10px gray;
}
.about__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.gmail,
.git {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.25em;
  border-bottom: solid 1px;
  color: #01359B;
  transition: 0.3s;
}
.gmail:hover,
.git:hover {
  color: #000;
}

.works {
  margin-top: 3.625em;
}
.works .ttl::before {
  content: "Works";
}
.works__name {
  font-size: 1.75rem;
}
.works .tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4.375em;
}
.works .tools__list {
  margin-right: 1.875em;
  font-size: 1.125rem;
}
.works .blog {
  display: none;
}
.works .study {
  display: none;
}
.works__thumbnail {
  width: 69.53125%;
  background: url(../images/myicon.jpg) no-repeat center/cover;
  transition: 0.3s;
  border-radius: 0 30px 0 0;
}
.works__item {
  width: 34.375%;
  height: 115px;
  margin-bottom: 1.875em;
  padding-top: 1.5625em;
  padding-left: 0.625em;
  font-size: 1.5rem;
  color: #fff;
  transition: 0.3s;
  border-radius: 20px 0 0 20px;
  filter: grayscale(100%);
}
.works__item:hover {
  transform: translateX(50px);
  filter: grayscale(0);
}
.works__thumb {
  position: relative;
}
.works .item1 {
  position: absolute;
  top: 10%;
  right: 0;
  background: url(../images/becoffee.png) no-repeat center/cover;
  font-weight: normal;
}
.works .item2 {
  position: absolute;
  top: 40%;
  right: 0;
  background: url(../images/card-bg.png) no-repeat center/cover;
  font-weight: normal;
}
.works .item3 {
  position: absolute;
  top: 70%;
  right: 0;
  background: url(../images/study.png) no-repeat center/cover;
  font-weight: normal;
}

.career {
  margin-top: 12.5em;
}
.career__ttl {
  margin-bottom: 3.75em;
  font-size: 2rem;
}
.career__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.25em;
  font-size: 1.125rem;
}
.career__list dt {
  margin-right: 3em;
}
.career__introduction {
  margin-top: 9em;
  font-size: 1.125rem;
}
.career__introduction p {
  margin-bottom: 1em;
}

.mv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.info__thumb {
  width: 100.890625%;
  margin-bottom: 3.125em;
}
.info__ttl {
  margin-bottom: 0.625em;
  font-size: 2rem;
}
.info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.info__item {
  margin-right: 1.875em;
}
.info__link {
  border-bottom: solid 1px #0040BF;
  color: #0040BF;
  transition: 0.3s;
  position: relative;
}
.info__link:hover {
  border-bottom: none;
  color: #000;
}

.contents {
  margin-top: 6.25em;
}
.contents__text {
  font-size: 1.125rem;
  letter-spacing: 0.14em;
  line-height: 1.6;
}
.contents__ttl {
  margin: 6.25em 0 1.25em;
  border-bottom: solid 1px;
  font-size: 1.5rem;
}
.contents__list {
  padding-left: 1.25em;
  list-style: disc;
}
.contents__item {
  margin-bottom: 0.3125em;
  font-size: 1.125rem;
}
.contents__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.875em;
}
.contents__pic {
  width: 40%;
}
.contents__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.contents__wrap .contents__list {
  width: 30%;
}
.contents__wrap .contents__text {
  width: 60%;
}
.contents__text-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.contents__text-wrap .contents__text {
  width: 48%;
}
.contents .hearing .contents__list {
  margin-top: 3.125em;
  font-weight: bold;
}
.contents .hearing,
.contents .design {
  position: relative;
}
.contents .modal-open {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.625em 3.125em;
  border: solid 1px #0040BF;
  background-color: #01359B;
  color: #fff;
  font-size: 0.875rem;
  position: absolute;
  bottom: -4em;
  right: 0;
  transition: 0.3s;
  cursor: pointer;
}
.contents .modal-open:hover {
  background-color: #fff;
  color: #0040BF;
}
.contents .modal-close {
  width: 320px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #0040BF;
  background-color: #01359B;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.contents .modal-close:hover {
  background-color: #fff;
  color: #0040BF;
}
.contents .modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
}
.contents .modal-bg.active {
  opacity: 1;
  pointer-events: auto;
}
.contents .modal-container {
  width: 90vw;
  position: absolute;
  top: 50px;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}
.contents .modal-container.active {
  opacity: 1;
  pointer-events: auto;
}
.contents .modal-close {
  margin: 10px auto;
}
.contents .pic-area,
.contents .design-pic-area,
.contents .code-pic-area {
  width: 45%;
  position: relative;
}
.contents .design-modal-open,
.contents .code-modal-open {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.625em 3.125em;
  border: solid 1px #0040BF;
  background-color: #01359B;
  color: #fff;
  font-size: 0.875rem;
  position: absolute;
  bottom: -4em;
  right: 0;
  transition: 0.3s;
  cursor: pointer;
}
.contents .design-modal-open:hover,
.contents .code-modal-open:hover {
  background-color: #fff;
  color: #0040BF;
}
.contents .design-modal-close,
.contents .code-modal-close {
  width: 320px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #0040BF;
  background-color: #01359B;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.contents .design-modal-close:hover,
.contents .code-modal-close:hover {
  background-color: #fff;
  color: #0040BF;
}
.contents .design-modal-bg,
.contents .code-modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
}
.contents .design-modal-bg.active,
.contents .code-modal-bg.active {
  opacity: 1;
  pointer-events: auto;
}
.contents .design-modal-container,
.contents .code-modal-container {
  width: 90vw;
  position: absolute;
  top: -70%;
  left: -10%;
  background-color: #fff;
  padding: 20px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}
.contents .design-modal-container img,
.contents .code-modal-container img {
  margin-bottom: 30px;
}
.contents .design-modal-container.active,
.contents .code-modal-container.active {
  opacity: 1;
  pointer-events: auto;
}
.contents .design-modal-close,
.contents .code-modal-close {
  margin: 10px auto;
}

.emphasis {
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
}

.footer {
  margin: 6.25em 0 3.125em;
  text-align: center;
}

.go-top-btn {
  display: block;
  margin-bottom: 1.25em;
  padding: 1.25em 0 1em;
  background-color: #acc6fb;
  transition: 0.3s;
}
.go-top-btn:hover {
  opacity: 0.7;
}

.menu-btn {
  display: none;
}

.bar {
  display: none;
  width: 40px;
  height: 1px;
  margin: 0.625em 0;
  background-color: #050505;
  transition: 0.3s;
}

.top-bar.open {
  transform: translateY(11px) rotate(45deg);
  background-color: #fff;
}

.bottom-bar.open {
  transform: translateY(0) rotate(-45deg);
  background-color: #fff;
}

.menu-contents {
  display: none;
}

.contents-link {
  color: #0040BF;
}
.contents-link:hover {
  color: #000;
}

.wrapper {
  display: none;
}

.bold {
  font-size: 1.25rem;
  font-weight: bold;
}

.study {
  margin-top: 200px;
}

.rotateBtn {
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #a45eb1, #ba2063);
  overflow: hidden;
  position: relative;
}
.rotateBtn .logo-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.rotateBtn .logo {
  width: 20%;
  height: 20%;
  margin-right: 12px;
}
.rotateBtn .infomation {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
.rotateBtn #circle {
  width: 1000px;
  height: 1000px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: 1s;
}
.rotateBtn .feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: #fff;
}
.rotateBtn .feature img {
  width: 70px;
}
.rotateBtn .feature div {
  margin-left: 20px;
}
.rotateBtn .feature div a {
  margin-top: 8px;
}
.rotateBtn .one {
  top: 450px;
  right: 70px;
}
.rotateBtn .two {
  top: 100px;
  left: 340px;
  transform: rotate(-90deg);
}
.rotateBtn .three {
  bottom: 450px;
  left: 50px;
  transform: rotate(-180deg);
}
.rotateBtn .four {
  bottom: 150px;
  right: 370px;
  transform: rotate(-270deg);
}
.rotateBtn .pc {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translateY(-50%);
  z-index: 1;
}
.rotateBtn .control {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  text-align: center;
}
.rotateBtn .control img {
  width: 15%;
}
.rotateBtn .control h3 {
  margin: 20px 0;
  color: #fff;
}
.rotateBtn #upBtn {
  cursor: pointer;
}
.rotateBtn #downBtn {
  cursor: pointer;
  transform: rotate(-180deg);
}
.rotateBtn .overlay {
  width: 0;
  height: 0;
  border-top: 520px solid #fff;
  border-right: 520px solid transparent;
  border-bottom: 520px solid #fff;
  border-left: 520px solid #fff;
}

.countdown .container {
  padding: 30px;
}
.countdown .time-container {
  display: flex;
}
.countdown .time-container p {
  margin-right: 30px;
}

.modal__open, .modal__close {
  width: 320px;
  margin: 40px auto;
  padding: 10px;
  border: solid 1px blue;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.modal__open:hover, .modal__close:hover {
  background-color: #0040BF;
  color: #fff;
}
.modal__bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.modal__bg.active {
  background-color: #000;
  opacity: 0.3;
}
.modal__container {
  padding: 20px;
  position: absolute;
  top: 80vw;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%);
  opacity: 0;
  transition: 0.3s;
}
.modal__container.active {
  opacity: 1;
  pointer-events: auto;
}
.modal__close {
  margin: 10px auto;
}

.slider {
  width: 540px;
  margin: 20px auto 0;
  padding: 0;
}
.slider .img-box {
  width: 540px;
  height: 380px;
}
.slider .btn {
  width: 540px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.slider .prev,
.slider .next {
  width: 18px;
  height: 18px;
  margin: 8px 30px;
  background-color: #fff;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.slider .page {
  height: 18px;
  margin: 8px 0;
  color: #fff;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.thumb .thumb-container {
  width: 480px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.thumb .item-thumb {
  width: 90px;
}
.thumb .item-mv {
  width: 380px;
}
.thumb .changePic {
  width: 50%;
  -webkit-animation: imgfade 4s infinite;
          animation: imgfade 4s infinite;
  opacity: 0;
}
.thumb .box {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding: 100px;
  background: url(../images/01.jpg) no-repeat center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  color: #fff;
  transition: 0.3s;
}

@-webkit-keyframes imgfade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imgfade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 550px) {
  .header {
    height: 70vh;
    margin-top: 0;
  }
  .header__flex {
    width: 90vw;
    position: fixed;
    top: 20px;
    z-index: 9999;
  }
  .header__ttl {
    font-size: 1.5rem;
  }
  .header__ttl.active {
    color: #fff;
    transition: 0.3s;
  }
  .header__mv {
    font-size: 3.75rem;
  }
  .header__mv::after {
    font-size: 1.25rem;
  }
  .about-header {
    margin-bottom: 9.375em;
  }
  .nav {
    display: none;
  }
  .scroll {
    bottom: 20%;
  }
  .scroll__bar {
    height: 100px;
  }
  .scroll__circle {
    transform: translate(-3.5px, 100px);
  }
  @-webkit-keyframes scrollDown {
    0% {
      transform: translate(-3.5px, -100px);
    }
    70% {
      transform: translate(-3.5px, 0);
    }
    100% {
      transform: translate(-3.5px, 0);
    }
  }
  @keyframes scrollDown {
    0% {
      transform: translate(-3.5px, -100px);
    }
    70% {
      transform: translate(-3.5px, 0);
    }
    100% {
      transform: translate(-3.5px, 0);
    }
  }
  .ttl {
    font-size: 1.5rem;
  }
  .ttl::before {
    font-size: 4rem;
    top: -140%;
    left: -2%;
  }
  .about__flex {
    display: block;
  }
  .about__contents {
    width: 100%;
  }
  .about__pic {
    width: 100%;
    margin-top: 1.875em;
  }
  .about__more {
    padding: 0.875em 1.1875em;
    font-size: 0.875rem;
  }
  .about__name {
    margin-left: 0;
  }
  .about__name dt {
    font-size: 1.75rem;
  }
  .about__affiliation, .about__hobby {
    font-size: 1rem;
  }
  .about__hobby span {
    display: block;
  }
  .works__name {
    font-size: 1.25rem;
  }
  .works__thumbnail {
    display: none;
  }
  .works__item {
    border-radius: 2px;
    box-shadow: 5px 5px 5px gray;
  }
  .works__item:hover {
    transform: translate(0);
  }
  .works .item1,
.works .item2 {
    width: 100%;
    position: inherit;
    filter: grayscale(0);
  }
  .toolts__list {
    font-size: 0.875rem;
  }
  .career__ttl {
    margin-bottom: 3.125em;
    font-size: 1.75rem;
  }
  .career__list {
    display: block;
    margin-bottom: 3.75em;
    font-size: 1rem;
  }
  .career__list dt {
    margin-bottom: 0.3125em;
    margin-right: 0;
    font-size: 1.5rem;
  }
  .career__list span {
    display: block;
  }
  .career__introduction {
    font-size: 1rem;
  }
  .career__introduction p {
    margin-bottom: 3.125em;
  }
  .bar {
    display: block;
  }
  .info__ttl {
    font-size: 1.5rem;
  }
  .contents__flex {
    display: block;
  }
  .contents__text {
    font-size: 1rem;
    line-height: 1.8em;
  }
  .contents__pic {
    width: 100%;
    margin-bottom: 1.875em;
  }
  .contents iframe {
    width: 100%;
  }
  .contents .design-pic-area,
.contents .code-pic-area {
    width: 100%;
    margin-bottom: 1.875em;
  }
  .contents .modal-open,
.contents .design-modal-open,
.contents .code-modal-open {
    display: none;
  }
  .works-contents p {
    margin-bottom: 1.875em;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    height: 40px;
  }
  .menu-contents {
    display: block;
    width: 100%;
    padding: 1.25em;
    background-color: #0040BF;
    transition: 0.3s;
    position: fixed;
    left: 0;
    top: -60px;
    z-index: 9999;
  }
  .menu-contents.open {
    background-color: #fff;
    transition: 0.3s;
    top: 100px;
  }
  .contents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .body-filter {
    filter: blur(50%);
  }
  .wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    left: 0;
    top: 0;
  }
  .wrapper.open {
    display: block;
  }
  .becoffee {
    display: none;
  }
  .shutter {
    font-size: 1.875rem;
  }
}
/*# sourceMappingURL=style.css.map */
